body {
  margin: auto;
  width: 95%;
}

div {
  border: 1px solid darkmagenta;
}

.header {
  display: flex;
  font-family: Verdana;
  font-size: 14px;
  font-weight: bold;
  justify-content: space-between;
}

.logo {
  display: flex;
  align-items: center;
  color: MediumAquamarine;
}

.nav {
  display: flex;
  align-items: center;
}

.nav span {
  display: inline-block;
}

.main {
  display: flex;
  justify-content:space-between;
}

.column_large {
  display: flex;
  width: 630px;
  flex-direction:column;
}

.column_medium {
  display: flex;
  width: 300px;
  flex-direction:column;
}

.column_small {
  display: flex;
  width: 240px;
  flex-direction:column;
}
