
div {
  border: 1px solid DarkMagenta;
}

.header {
  display: flex;
  font-family: Verdana;
  font-size: 14px;
  font-weight: bold;
  justify-content: space-between;
  padding: 10px 0 10px 0;
}

.logo{
  display:flex;
  justify-content: flex-start;
  color: MediumAquamarine;
  width: 970px;
}

.nav{
  display:flex;
  justify-content: center;
  align-items: center;
  padding-right: 10px;

}

a {
  padding: 10px;
  color: black;
}

.maincontent {
  display:flex;
  justify-content:space-between;
}

.column1 {
display: flex;
width: 630px;
flex-direction: column;
flex-wrap: wrap;
}

.main_image {
  display: flex;
  background-image: url("/Users/eagobert/Documents/Codecademy_Projects/Projects/mytimes/resources/images/main_story.png");
  font-family: Georgia;
  font-weight: bold;
  font-size: 40px;
  color: white;
  width: 630px;
}

.main_story {
  font-family: Georgia;
  font-size: 17px;
  color: black;
  width: 630px;
}

.column1_nested {
  display: flex;
  width: 630px;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}

.story1 {
  font-family: Georgia;
  font-size: 17px;
  color: black;
  width: 300px;
  height: 300px;
  order: 1;

}

.story2 {
  font-family: Georgia;
  font-size: 17px;
  color: black;
  width: 300px;
  height: 300px;
  order: 2;
}

.story_image1 {
  display: flex;
  background-image: url("/Users/eagobert/Documents/Codecademy_Projects/Projects/mytimes/resources/images/fall_season.png");
  font-family: Georgia;
  font-weight: bold;
  font-size: 30px;
  color: white;
  width: 300px;
  height: 300px;
  order: 3;
  text-align: center;
}

.story_image2 {
  display: flex;
  background-image: url("/Users/eagobert/Documents/Codecademy_Projects/Projects/mytimes/resources/images/hipster_cameraman.png");
  font-family: Georgia;
  font-weight: bold;
  font-size: 30px;
  color: white;
  width: 300px;
  height: 300px;
  order: 4;
  text-align: center;
}

.column2 {
  display: flex;
  width: 300px;
  flex-direction: column;
}

.story_image3 {
  display: flex;
  background-image: url("/Users/eagobert/Documents/Codecademy_Projects/Projects/mytimes/resources/images/cat_ceo.png");
  font-family: Georgia;
  font-weight: bold;
  font-size: 30px;
  color: white;
  width: 300px;
}

.story3 {
  font-family: Georgia;
  font-size: 17px;
  color: black;
  width: 300px;
}

.story4 {
  font-family: Georgia;
  font-size: 17px;
  color: black;
  width: 300px;
}

.column3 {
  display: flex;
  width: 240px;
  flex-direction: column;
}

.newsbite h2 {
  font-size: 16px;
  font-weight: bold;
  text-align: center;
}

.newsbite_list {
  background-color: WhiteSmoke;
  font-family: Verdana;
  font-size: 12px;
  color: DimGray;
}

.newsbite_list p {
  border-bottom: 2px solid black;
  padding: 12px 25px;
}
